body {
    font-family: 'Roboto', sans-serif;
}

h1.desk-show {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 10px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bonus-page {
    text-align: center;
}

.conditions-top-text {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 25px;
}

.conditions-top-text-mob {
    font-size: 15px;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 35px;
    color: #79797B;
}

.conditions-block {
    font-size: 0;
    text-align: left;
}

.conditions-block-item img {
    margin-bottom: 8px;
    display: block;
    width: 20px;
    vertical-align: top;
}

.conditions-block-item span {
    margin-bottom: 15px;
    display: block;
    width: 100%;
    vertical-align: top;
}

.conditions-block-item {
    display: inline-block;
    width: 49%;
    font-size: 18px;
    background-color: #FAFAFA;
    padding: 40px 50px 40px 50px;
    border-radius: 10px;
    margin-bottom: 40px;
    vertical-align: top;
}

.conditions-block-item:first-child {
    margin-right: 2%;
}

.conditions-table {
    box-shadow: 3px 11px 26px rgba(191, 191, 191, 0.16);
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
}

.conditions-table tr td {
    padding: 16px 30px;
    border: 1.5px solid #D7D7D7;
}

.conditions-table tr td:first-child {
    text-align: left;
    border-left: none;
}

.conditions-table tr td:last-child {
    border-right: none;
}

.conditions-table tr:first-child td {
    padding: 30px;
    border-top: 0;
}

.conditions-table tr:last-child td {
    border-bottom: 0;
}

.conditions-footer-text {
    color: #79797B;
    padding: 30px;
    text-align: left;
}

.bonus-table {
    overflow-x: auto;
    box-shadow: 3px 11px 26px rgba(191, 191, 191, 0.16);
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
    border: 0.1px solid #ECECEC;
}

.mob-title {
    font-size: 30px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.mob-show {
    display: none
}

.desk-show {
    display: block
}

@media screen and (max-width: 990px) {
    .conditions-block-item {
        min-height: 275px;
    }
}

@media screen and (max-width: 768px) {
    .mob-show {
        display: block
    }
    .desk-show {
        display: none
    }
    h1 {
        font-size: 28px
    }
    .bonus-page {
        text-align: left;
    }
    .conditions-block-item {
        display: block;
        width: 100%;
        font-size: 17px;
        background-color: #fff;
        padding: 10px 0;
        border-radius: 0;
        min-height: 100%;
        margin-bottom: 0;
    }
    .conditions-block-item:first-child {
        margin-right: 0;
    }
    .conditions-block-item img {
        margin-bottom: 15px;
        display: inline-block;
        width: 20px;
        vertical-align: top;
        margin-right: 7px;
        margin-top: 4px;
    }
    .conditions-table tr td:first-child {
        padding-left: 29px !important
    }
    .conditions-block-item span {
        margin-bottom: 0;
        display: inline-block;
        width: calc(100% - 40px);
        vertical-align: top;
    }
    .conditions-table tr td {
        text-align: center;
        padding: 0;
        font-size: 14px
    }
    .conditions-table tr td:first-child {
        padding: 10px
    }
    .conditions-table tr:first-child td {
        padding: 10px
    }
    .card-header {
        cursor: pointer;
    }
    h1.card-header span {
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 50px);
        font-size: 22px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 20px
    }
    .card-header.collapsed img {
        transition: transform 1s ease;
        transform: rotate(360deg);
    }
    .card-header img {
        transition: transform 1s ease;
        display: inline-block;
        vertical-align: middle;
        width: 28px;
        padding-top: 11px;
        transform: rotate(180deg);
    }
    .conditions-footer-text {
        padding: 30px 0;
    }
    .conditions-top-text {
        margin-bottom: 10px
    }
}